@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&display=swap');

*{
    padding: 0;
    margin: 0%;
}

body{
    background-color: rgb(17, 15, 15);
    color: white;
}

header{
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}

h1{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size:  50px;
    color: rgb(152, 3, 3);
}

button{
    width: 50px;
    height: 50px;
}

#menu-list {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: black;
}